*{
    margin:0;
    padding: 0;
}

body{
    background-color: gray;
    margin: 0 auto;
    text-align: center;
}

.wrapper{
    height: 400px;
    width: 300px;
    background-color: #353233;
    margin: 20px 100px;
    border-radius: 5px;
    position: absolute;
    
    box-shadow: 5px 5px 30px rgb(59, 29, 29);
}
.header{
    height: 130px;
    width: 280px;
    margin:10px 10px;
    background:#5f5f62;
    position: relative;
    margin-bottom: 5px;
}


.logo{
    margin-right: 178px;
    display: inline-block;
}
.ac{
    border: 1px solid black;
    display: inline-flex;
    width:27px;
    margin: auto;
    vertical-align: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    box-shadow: black 2px ;
}
.display{
    height:100px;
    width: 275px;
    background-color: powderblue;
    margin: 4px 2px;
    box-shadow: 1px 1px 10px rgb(47, 235, 9);
}
.body{
    height: 245px;
    width: 280px;
    background:#50505b;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.number {
	height: 240px;
	width: 200px;
	background: blue;
	float: left;
}

.button{
    height:59px;
    width:64.5px;
    background:black;
    z-index: 1000;
    float: left;
    border: 1px solid gray;
    color: white;
    text-align: center;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px rgb(13, 13, 75);
}
.operator{
    height: 240px;
    width: 68px;
    background:black;
    margin: 0 205px;
}
#d{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top:65px;
}
.Num{
    background: transparent;
}
.logo{
    text-shadow:2px 2px 3px rgb(27, 26, 26);
    color: rgba(236, 202, 212, 0.76);
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 1px 1px 10px rgb(119, 43, 43);
}