* {
  margin: 0;
  padding: 0;
}

.container {
  width: 325px;
  height: 325px;
  display: block;
  margin: 100px auto;
  border: 1px solid black;
  padding: 13px 0 0 13px;
}

.container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  float: left;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.container .btn:nth-child(1),
.container .btn:nth-child(4),
.container .btn:nth-child(7) {
  border-left: none;
}

.container .btn:nth-child(7),
.container .btn:nth-child(8),
.container .btn:nth-child(9) {
  border-bottom: none;
}
