* {
  margin: 0;
  padding: 0;
}

.game__container {
  width: 325px;
  height: 325px;
  display: block;
  margin: 100px auto;
  border: 1px solid black;
  padding: 13px 0 0 13px;
  margin-bottom: 30px;
}

.game__container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  float: left;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.game__container .btn:nth-child(1),
.game__container .btn:nth-child(4),
.game__container .btn:nth-child(7) {
  border-left: none;
}

.game__container .btn:nth-child(7),
.game__container .btn:nth-child(8),
.game__container .btn:nth-child(9) {
  border-bottom: none;
}


#display {
  width: 325px;
  display: none;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
  height: 80px;
}
#display #result {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding-bottom: 20px;
}
#display .left {
  float: left;
  padding: 10px;
}
#display .right {
  padding: 10px;
  float: right;
  
}
